# .gitignore

.sass-cache

/node_modules
/package.json

.DS_Store
*BAK*
#*-0*

_bin/fix-api.php
_bin/fixes-json.php
_bin/search-indexer.php
_bin/search-indexer.js
_layouts/fix-json.json
_pages/search-index-0.json
_plugins/multipost.rb

_site
!_site/favicon.ico


#End.
