---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>


  <h1 class="page-heading x2">Accessibility fixes</h1>

  <ul class="fix-list">
    {% for fix in site.fixes %}
      <li><a href="{{ fix.url | prepend: site.baseurl }}">{{ fix.title }}</a>
    {% endfor %}
  </ul>


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
    <a href="{{ site.ex.fix_index }}" title="Search index of accessibility fixes in JSON format">JSON</a>
    <a href="{{ site.ex.fix_index_jsonp }}" class="sr-only">JSONP</a>
  </p>

</div>
