/*!
 * Custom CSS.
 */

a:focus {
  text-decoration: underline;
}

.site-title, .site-nav {
  //Was: line-height: 56px;
  line-height: 44px;
  letter-spacing: -0.5px;
}
.site-title i {
  display: inline-block;
  color: #555;
  font-size: 1.1rem;
  letter-spacing: 1px;
  margin-left: 3px;
  position: relative;
  top: -6px;
}
.x-subtitle {
  clear: both;
  margin-bottom: 9px;
}
.post-title i {
  display: inline-block;
  font-style: normal;
  color: #555;
  margin-right: 3px;
}
#page-nav a {
  text-transform: lowercase;
}

#screenshot {
  min-height: 300px;
}

.github-fork-ribbon {
  background-color: #070;
}
.github-fork-ribbon a:visited {
  color: #fff;
}
.github-fork-ribbon a:hover,
.github-fork-ribbon a:focus {
  color: #fefede;
  text-decoration: underline;
}


/* Highlight.js
*/

.hljs {
  background: none;
  padding: 0;
}
.hljs .yaml-b,
.hljs .yaml-a {
  color: red;
}

.hljs-attr {
  color: #000080;
}
.hljs-string {
  color: #d14;
}


//End.
