---
layout: default
---
<div class="post fix">

  <header class="post-header">
    <h1 class="post-title"><i>Fix:</i>{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

    <p id="page-nav" role="navigation">On this page: <a href="#notes">Notes</a> • <a href="#config">Config</a> • <a href="#fixes">Fixes</a> • <a href="#styles">Styles</a>
  </header>


  <article id="notes" class="post-content">
    {{ content }}
  </article>

  {% assign screenshot = page.x-aw-config.test_urls[0] | uri_escape  %}
  {% comment %} | replace: '/', '%2F' | replace: ':', '%3A' {% endcomment %}

  {% comment %} http://labnol.org/internet/webpage-screenshots-dynamic/19341/#captureform {% endcomment %}
  <p id="screenshot"><a href="{{ page.x-aw-config.test_urls[0] }}"
    ><img src="http://s.wordpress.com/mshots/v1/{{ screenshot }}?w=1024"
    title="Screenshot of: {{ page.title }}"></a></p>

  <div id="config">
    <h2>Config</h2>
    <pre><code class="json"></code></pre>

{% comment %}
    {% highlight json linenos %}
    {{ page.x-aw-config | jsonify }}
    {% endhighlight %}

    <pre>
    <code class="yaml">
<tt class="yaml-b">%YAML 1.2</tt>
{{ page.x-aw-config | yaml }}
<tt class="yaml-a">...</tt>
    </code>
    </pre>
{% endcomment %}
  </div>


  <div id="fixes">
    <h2>Fixes</h2>
    <pre><code class="json"></code></pre>
  </div>

  <div id="styles">
    <h2>Styles</h2>
    {% highlight css linenos %}
    {{ page.x-aw-styles }}
    {% endhighlight %}
  </div>

<div id="fix-api">
<meta property="og:type" content="http://accessifywiki.org/Fix">
<script type="x/fix+json" property="AW:fixes" id="fix-api-json">
{
"title": {{ page.title | jsonify }},
"tags": {{ page.tags | jsonify }},
"date": {{ page.date | jsonify }},
"config": {{ page.x-aw-config | jsonify }},
"fixes" : {{ page.x-aw-fixes  | jsonify }},
"styles": {{ page.x-aw-styles | jsonify }}
}
</script>

{% comment %}
  <script type="x/meta-json" property="AW:config">{{ page.x-aw-config | json }}</script>
  <script type="x/meta-json" property="AW:fixes">{{ page.x-aw-fixes | json }}</script>
  <script type="x/fix+css" property="AW:styles" id="fix-api-css">{{ page.x-aw-styles | jsonify }}</script>

  <meta itemprop="accessibilityAPI" content="ARIA"/><!-- Microdata: https://schema.org/accessibilityAPI -->
  <meta property="accessibilityFeature" content="alternativeText"/><!-- RDFa: https://schema.org/accessibilityFeature -->
{% endcomment %}
</div>

</div>
